include ../mixins/category-block.pug
 
h2.subtitle 
    span Shop By 
    | Categories
section.category    
    +category-block("./assets/imgs/category1.svg","Vegetables & Fruits")
    +category-block("./assets/imgs/category2.svg","Grocery & Staples")
    +category-block("./assets/imgs/category3.svg","Dairy & Eggs")
    +category-block("./assets/imgs/category4.svg","Beverages")
    +category-block("./assets/imgs/category5.svg","Snacks")
    +category-block("./assets/imgs/category6.svg","Home Care")