include ../mixins/fruits-block.pug

h2.subtitle
    span For You
    | Top Vegetables & Fruits Products
section.fruits
    +fruits-block({
        sale:'15%Off',
        img:'./assets/imgs/fruits1.png',
        available:'Available(in stock)',
        title:'Red apple',
        price:'$12',
        noprice:'$15'   
    })
    +fruits-block({
        sale:'15%Off',
        img:'./assets/imgs/fruits2.png',
        available:'Available(in stock)',
        title:'capsicum-green',
        price:'$12',
        noprice:'$15'
    })
    +fruits-block({
        sale:'15%Off',
        img:'./assets/imgs/fruits3.png',
        available:'Available(in stock)',
        title:'Pear fruit',
        price:'$12',
        noprice:'$15'
    })
    +fruits-block({
        sale:'15%Off',
        img:'./assets/imgs/fruits4.png',
        available:'Available(in stock)',
        title:'Blueberry',
        price:'$12',
        noprice:'$15'
    })
    +fruits-block({
        sale:'15%Off',
        img:'./assets/imgs/fruits5.png',
        available:'Available(in stock)',
        title:'Fresh raspberry',
        price:'$12',
        noprice:'$15'
    })