doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/vendors.min.css")
        link(rel="stylesheet", href="./assets/css/app.css")
        link(rel="stylesheet", href="./assets/fonts/cerebri-sans-pro.css")
    body
        .header
            .header__info
                .header__email
                    img(src="./assets/imgs/email.png", alt="email").header__img
                    p.header__posht Hello@colorlib.com 
                    p.header__price Free Shipping for all order of $99
                    img(src="./assets/imgs/facesbook.png", alt="facesbook").header__social
                    img(src="./assets/imgs/watsapp.png", alt="watsapp").header__social
                    img(src="./assets/imgs/linkedin.png", alt="linkedin").header__social
                    img(src="./assets/imgs/twitter.png", alt="twitter").header__social
            .header__title
                img(src="./assets/imgs/logo.png", alt="logo").header__logo
                img(src="./assets/imgs/gurugram.png", alt="gurugram").header__gurugram
                p.header__text Gurugram                
                input(type="text" placeholder="Search for products...").header__search
                img(src="./assets/imgs/phone.png", alt="phone").header__hone
                p.header__number 1800-000-000
                button.header__heart
                    img(src="./assets/imgs/heart2.png", alt="heart")
                img(src="./assets/imgs/icon.png", alt="icon").header__icon
                p.header__name John Doe
        include ./components/slider.pug
        .conteiner
           include ./components/categories.pug
           include ./components/products.pug
           include ./components/values.pug
           .cashback
               h3.cashback__title Get $5 Cashback! Min Order of $50
               input(type="text" placeholder="USE CODE :  COMBOSUPERR2a").cashback__code
           include ./components/products.pug
           include ./components/products.pug           
        script(src="./assets/js/vendors.min.js")
        script(src="./assets/js/app.js")
