doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/vendors.min.css")
        link(rel="stylesheet", href="./assets/css/app.css")
        link(rel="stylesheet", href="./assets/fonts/cerebri-sans-pro.css")
    body
            
        include ./components/slider.pug      
        .conteiner
           include ./components/categories.pug
           include ./components/products.pug
           include ./components/values.pug
           .cashback
               h3.cashback__title Get $5 Cashback! Min Order of $50
               input(type="text" placeholder="USE CODE :  COMBOSUPERR2a").cashback__code
           include ./components/fruits.pug
           include ./components/newproducts.pug
        script(src="./assets/js/vendors.min.js")
        script(src="./assets/js/app.js")
