mixin values-item(args={})
    .values-item
        img(src=args.img, alt="values").values-item__img
        .values-item__name
            h3.values-item__title=args.title
            p.values-item__text=args.text
        button.values-item__btn Shop Now
